#landing-page-container {
  background-color: ghostwhite;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  background-color: red;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
}
